<%inherit file="base.html"/>
<section>
    <h1>What is Tracker?</h1>
    <p>
        Tracker is the Ondina Issue tracking system. This is where you can
        report bugs in the Ondina Control Panel and suggest new features.
        Your participation helps making Ondina better.
    </p>
    <h2>How do I report a bug?</h2>
    <p>
        Firstly, identify the section of the control panel that is affected.
        You can simply include the whole URL of the page in your report:
    </p>
    <p>
        <img class="help" src="/static/help/url.png">
    </p>
    <p>
        Browse other issues before posting your own. A few hints
        can help us solve your issue quickly and without needing to
        contact you again:
        <strong>
        <ul>
            <li>What did you expect tp happen?</li>
            <li>What did actually happen?</li>
        </ul>
        </strong>
        And, if possible:
        <ul>
            <li>What is supposed to happen?</li>
        </ul>
    </p>
    <p>
        Remember: If you post more detail in your report, it will help us
        resolve the issue more quickly.
    </p>
    <h2>What if my issue contains sensitive information?</h2>
    <p>
        If you click <strong>Mark as security issue</strong>, it will be
        only be shown to Ondina employees.
    </p>
    <h2>I have posted an issue. What's its status?</h2>
    <p>
        After we've started fixing the issue, a note will appear letting you
        know about the current status:
        <img class="help" src="/static/help/in-progress.png">
    </p>
    <h2>Do you have more questions?</h2>
    <p>
        If something is unclear, don't hesitate to <a href="http://ondina.co/contact"
            target="_blank">contact Ondina directly</a>.
    </p>
</section>
<script>
</script>
