<%inherit file="base.html"/>
<section>
    <h1>Please log in with your OpenID</h1>
    <ul>
        <li><a href="/login/google">log in with google</a></li>
        <li><a href="/login/launchpad">log in with launchpad</a></li>
        <li><a href="/login/myopenid">log in with myopenid</a></li>
        <li><a href="/login/stackexchange">log in with stackexchange</a></li>
        <li><a href="/login/ubuntu">log in with ubuntu</a></li>
        <li><a href="/login/yahoo">log in with yahoo</a></li>
        <li><a href="/login/aol">log in with aol</a></li>
        <li><a href="/login/verisign">log in with verisign</a></li>
        <li><a href="/login/claimid">log in with claimid</a></li>
    </ul>
</section>
<script>
</script>
